.main {
  margin: 0 auto;
  margin-top: 50px;
}

.main h1 {
  color: #fffafa;
}

.infoContainer {
  padding: 20px;
  display: grid;
  justify-content: center;
}



.infoContents span {
  font-weight: bold;
}

.infoContents a {
  text-decoration: underline;
  color: #8b4513;
  cursor: pointer;
}

.infoContents a:hover {
  color: #D2B48C;
}

.infoContents a:active {
  color: #fffafa;
  text-decoration: none;
}