.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 60px;
    background-color: #8b4513;
    color: #ffebcd;
}

.footer h2 {
    justify-self: start;
    margin: 0;
    padding: 15px;
}

.text {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}