.header {
    width: 100%;
    padding: 20px;
    background-color: #ffebcd;
    color: #8b4513;
    display: flex;
    z-index: 1000;
    position: fixed;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
}

.headerLogo {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.listWrapper {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
}

.listContents {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.headerList {
    list-style: none;
    text-decoration: underline;
}

.headerList:hover {
    color: #2255ee;
}

.headerList:active {
    text-decoration: none;
    color: #2255ee;
}